<section class="index">
    <p>La Horca</p>

    <div>
        <form method="post" action="@Url.Action("Comenzar", "Home")">
            <label>Ingrese el nombre usuario</label>
            <input type="text" name="username" required />

            <label>Ingrese la dificultad</label>
            <input type="number" name="dificultad" min="1" max="3" required />

            <input class="submit" type="submit" value="Comenzar" />
        </form>
    </div>

    <div>
        @if (ViewBag.Jugadores != null)
        {
            foreach (Usuario j in (List<Usuario>)ViewBag.Jugadores)
            {
                <p>UserName: @j.Nombre</p>
                <p>Intentos: @j.CantidadIntentos</p>
            }
        }
    </div>
</section>