@{
    ViewData["Title"] = "Index";
}
<section class="index">


    <p>La Horca</p>
    <div>
    <form method = "POST" action = "@Url.Action("FinJuego", "Home")" >
    Ingrese el nombre usuario 
            <input type="name" name ="username" />
    Ingrese la dificultad 
             <input type="int" name ="dificultad" />

     <input class = "submit" type="submit" value="Submit"/>      
    </form>
</div>

<div>
 @foreach(Usuario j in @ViewBag.Jugadores){
<p> UserName: @j.Nombre</p>
<p> Intentos: @j.CantidadIntentos</p>
 }
</div>
</section>
