<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" /> <title>JavaScript</title>
</head>
<body>



<p id="Terminado"></p>
<p id="Perdiste"></p>

<h1 id="Resultado"></h1>


<form action="@Url.Action("Resultado", "script")" method="POST">
    <label>Ingrese una letra</label>
    <input type="text" name="letra" maxlength="1" />
    <button type="submit">Arriesgar Letra</button>
</form>

<form action="@Url.Action("ArriesgarPalabra", "script")" method="POST">
    <label>Ingrese una palabra</label>
    <input type="text" name="Palabra" id="Palabra2" />
    <button type="submit">Arriesgar Palabra</button>
</form>


<form method="post" action="@Url.Action("FinJuego", "Home")">
    <input type="hidden" name="intentos" value="@ViewBag.intentos" />
    <button type="submit">Finalizar</button>
</form>


  <script src="js/script.js"></script>




  <script src="js/script.js"></script>
</body>
</html>


