
while(Terminado != true || Perdiste != true){
<h1 id="Resultado"> " "</h1>
    <form action = 'Resultado()' method = "POST">
        Ingrese una letra<input type= char name = letra>
        <button value= Arriesgar Letra >
    </form>

    <form action = 'ingresoPalabra' method = "POST">
        Ingrese una Palabra<input type =Name name=Palabra id="Palabra2" >
    </form>

    <button value= Arriesgar Letra >
}


<button value= Fin  action = '@Url.Action("FinJuego(intentos)",Home)' Finalizar>








/*
const palabra = document.getElementById("Palabra").innerText; 
let resultado = document.getElementById("Resultado");

let letrasIngresadas = [];
let letrasPalabra = palabra.split(""); 
let terminado = false;
let perdiste = false;
let intentos = 0;

resultado.innerText = "_".repeat(palabra.length);

function ingresoLetra(letra) {
    if (terminado || perdiste) return;

    if (!letrasIngresadas.includes(letra)) {
        letrasIngresadas.push(letra);
        intentos++;

     
        let nuevaSalida = "";
        for (let i = 0; i < letrasPalabra.length; i++) {
            if (letrasIngresadas.includes(letrasPalabra[i])) {
                nuevaSalida += letrasPalabra[i];
            } else {
                nuevaSalida += "_"; // guion
            }
        }

        resultado.innerText = nuevaSalida;

     
        if (!nuevaSalida.includes("_")) {
            terminado = true;
            resultado.innerText = "¡GANÓ!";
        } else if (intentos >= 6) { 
            perdiste = true;
            resultado.innerText = "PERDIÓ";
        }
    }
}


function ingresoPalabra(palabra2) {
    intentos++;
    if (palabra2 === palabra) {
        terminado = true;
        resultado.innerText = "¡GANÓ!";
    } else {
        perdiste = true;
        resultado.innerText = "PERDIÓ";
    }
}*/
