
<p id="Terminado"></p>
<p id="Perdiste"></p>

<h1 id="Resultado"> " "</h1>

while(Terminado != true || Perdiste != true){

    <form action = '@Url.Action("Resultado", "Home")' method = "POST">
        Ingrese una letra<input value=letra type= char name = letra>
        <button value= Arriesgar Letra ></buttom>
    </form>

    <form action = '@Url.Action("ArriesgarPalabra", "Home")' method = "POST">

        Ingrese una Palabra<input value= palabra2 type =Name name=Palabra id="Palabra2" >
         <button value= Arriesgar Plabra ></buttom>
    </form>

   
}

<form method="post" action="@Url.Action("FinJuego", "Home")">
    <input type="hidden" name="intentos" value="@Session["Intentos"]" />
    <button type="submit">Finalizar</button>
</form>








/*
const palabra = document.getElementById("Palabra").innerText; 
let resultado = document.getElementById("Resultado");

let letrasIngresadas = [];
let letrasPalabra = palabra.split(""); 
let terminado = document.getElementById("Terminado").innerText;
let perdiste = document.getElementById("Perdiste").innerText;
let intentos = 0;

resultado.innerText = "_".repeat(palabra.length);

function ingresoLetra(letra) {
    if (terminado || perdiste) return;

    if (!letrasIngresadas.includes(letra)) {
        letrasIngresadas.push(letra);
        intentos++;

     
        let nuevaSalida = "";
        for (let i = 0; i < letrasPalabra.length; i++) {
            if (letrasIngresadas.includes(letrasPalabra[i])) {
                nuevaSalida += letrasPalabra[i];
            } else {
                nuevaSalida += "_"; // guion
            }
        }

        resultado.innerText = nuevaSalida;

     
        if (!nuevaSalida.includes("_")) {
            Value.terminado = true;
            resultado.innerText = "¡GANÓ!";
        } else if (intentos >= 6) { 
            Value.perdiste = true;
            resultado.innerText = "PERDIÓ";
        }
    }
}


function ingresoPalabra(palabra2) {
    intentos++;
    if (palabra2 === palabra) {
        Value.terminado = true;
        resultado.innerText = "¡GANÓ!";
    } else {
        Value.perdiste = true;
        resultado.innerText = "PERDIÓ";
    }
}*/
