html {
  font-size: 14px;
  min-height: 100%;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

body {
  margin: 10px;
  padding: 10px;
}


footer {
  margin-top: 10px;
  padding: 10px;
  background-color: #f8f9fa;
  border-top: 1px solid #e9ecef;
}

.index div{
border: 5px solid #B71FDB;
  border-radius: 5px
background-color: #DBA51F;
margin-left: 20%
  padding: 3%;
  shadow-box: 5px  #794086;
}
label{
color: #794086;
  margin-bottom: 3%;
}
input{ padding: 1%; margin-left: 30%; border-radius: 5px }
.submit{background-color: #24DB9C }

